*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("images/xbox.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    margin: 0 auto;
    width: 800px;
    height: 500px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    padding: 2.5rem 2rem;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    border: none;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
}

.content{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #0A75AD;
    border: 1px solid white;
    border-radius: 25px;
}

.text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#days{
    display: none;
}
p{
    font-family: 'Roboto', sans-serif;
    width: 120px;
    height: 50px;
    padding: 15px 10px;
    margin: 10px;
    text-align: center;
    border: none;
    color: black;
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;

}


input{
    width: 100px;
    height: 50px;
    margin: 10px;
    text-align: center;
    border: 1px solid white;
    border-radius: 15px;

}


#startBtn,#buyBtn,#sellBtn{
    background-color: #1c669b; /* Green */
    border: none;
    color: white;
    border-radius: 20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px;
    cursor: pointer;
}